{% extends 'base.html.twig' %}

{% block body %}

<div class="single-article">

<img class="logo" src="{{ asset('img/logo_complete.png') }}" alt="Les Bâtonnets de Poisson">

<div>
<h1 class="title">Règles de vie de la guilde</h1>
</div>


<div>
<p class="text">
Bonjour à tous-tes,

La guilde Les Bâtonnets de Poisson est une guilde sociale dont l’objectif est d’offrir au plus grand nombre un espace de jeu convivial et agréable. Nous ne sommes pas dans la recherche de la performance absolue, mais cela peut être l’horizon de certain-e-s joueurs-euses. Nous souhaitons encourager toutes les bonnes volontés, et tendre vers l’amélioration de notre jeu en douceur, dans la bonne humeur et dans le respect des limites de chacun-e.

Afin que chaque personne puisse profiter pleinement de la guilde Les Bâtonnets de Poisson et de ce qu’elle propose, nous souhaitons que certaines règles soient observées par tous-tes.
</p>
</div>

{% endblock %}