{% extends "base.html.twig" %}

{% block title %} Les Bâtonnets de Poisson - Inscription {% endblock %}

{% block body %}

    <div>
        <h1>Inscription</h1>
        {{ form(form) }}
    </div>

{% endblock %}