{% extends "base.html.twig" %}

{% block title %} Les Bâtonnets de Poisson - Inscription {% endblock %}

{% block body %}

<section class="form_page">

    {% include 'home/flash.html.twig' %}

    <div class="form_section">
        <h1 class="form_title">Inscription</h1>
        {{ form(form) }}
    </div>

</section>

{% endblock %}