{% set username = comment.user.username %}

<div id="comment-{{ comment.id }}">
        <div>
            
            <h5>
                    <span class="comment-author">{{ username }}</span>
            </h5>
            
            <p>{{ comment.createdAt|date('d M Y à H:i') }}</p>

            <p>{{ comment.text }}</p>

        </div>
</div>
