{% extends 'base.html.twig' %}

{% block title %}Les Bâtonnets de Poisson - Modifier mon profil{% endblock %}

{% block body %}
<section class="form_page">

        {% for message in app.flashes('success') %}
        <div>
            {{ message }}
        </div>
        {% endfor %}

        {# {% for message in app.flashes('warning') %}
        <div>
            {{ message }}
        </div>
        {% endfor %} #}

    <div class="form_section">
        <h1 class="form_title">Modifier mon profil</h1>
        <div class="form">{{ form(form) }}</div>
    </div>

</section>

{% endblock %}
