{% extends 'base.html.twig' %}

{% block title %}Les Bâtonnets de Poisson - Modifier mon mot de passe{% endblock %}

{% block body %}

		{% for message in app.flashes('success') %}
			<div class="alert alert-success mt-4">
				{{ message }}
			</div>
		{% endfor %}


        {% for message in app.flashes('warning') %}
        <div>
            {{ message }}
        </div>
        {% endfor %}

    <div>
        <h1>Modifier mon mot de passe</h1>
        {{ form(form) }}
    </div>

{% endblock %}