{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}

<div>
    <div class="search">
		{{form(form)}}
	</div>

{# <div id="allarticles" class='d-flex flex-wrap justify-content-evenly'> #}

    {% if filteredPosts %}
        
        <h1 class="page-title">Résultat de la recherche</h1>

        <div id="allsearcharticles">
            {% for article in filteredPosts %}
                    {% include "article/_cards.html.twig" %}
            {% endfor %}
        </div>

    {% else %}

        <h1 class="page-title">Tous les articles</h1>

        <div id="allarticles">
            {% for article in articlesList %}
                {% include "article/_cards.html.twig" %}
            {% endfor %}
        </div>

    {% endif %}

    {# </div> #}

        <div class="row">
            <div>
                {{ knp_pagination_render(articlesList) }}
            </div>
        </div>
        
    </div>
</div>
{% endblock %}
